*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family:'Roboto-Medium';
}
@font-face{
    font-family:'Roboto-Medium';
    src:url(Roboto-Medium.ttf)
}
@font-face{
    font-family:'Roboto-Regular';
    src:url(Roboto-Regular.ttf)
}
body{
    height: 1024px;
    
}
.body2{
    background-color: #383838;
    -webkit-transition-duration: .4s ;
    transition-duration: .4s ;
    
}

.box{
    border-radius: 15px;
    padding: 17px 9px 9px 30px;
    background-color: #FFF;
    top:64px;
    left:50%;
    transform: translate(-50%);
    box-shadow: -3px -4px 28px rgba(103, 103, 103, 0.25), 6px 6px 25px rgba(103, 103, 103, 0.25);
}
.box2{
    background-color: #383838 ;
    -webkit-transition-duration: 0.4s ;
    transition-duration: 0.4s ;
}
.next{
    height: 46px;
    width: 46px;
    border-radius: 50%;
    background-color: #FFF;
    box-shadow: -2px -2px 4px rgba(103, 103, 103, 0.25), 2px 2px 4px rgba(100, 100, 100, 0.25);
}
.next2{
    background-color: #383838;
    box-shadow: -2px -2px 4px rgba(244, 244, 244, 0.25), 2px 2px 4px rgba(255, 255, 255, 0.25);
}
.hr{
    height: 6px;
    width: 33%;
    background-color: #6D6D6D;
    border-radius: 26px;
}
h4{
    font-family:'Roboto-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 31px;
    line-height: 36px;
    color: #000000;
    margin-bottom: 12px;
    
}
p{
    font-family:'Roboto-Regular' !important;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #414141;
}
span{
    font-family:'Roboto-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: flex-end;
    color: #000000;
    
}


.switch {
    position: relative;
    display: inline-block;
    width: 244px;
    height: 49px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #C4C4C4;
    border-radius: 24.5px;
  }
  
  
  #light {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #FFF;
    border-radius: 24.5px;
    -webkit-transition: .4s;
    transition: .4s;
    width:50%;
    border:none;
    outline:0;
    box-shadow: 4px 4px 22px rgba(0, 0, 0, 0.25);
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    line-height: 27px;
    color: #363636;
  }
  #dark {
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    border-radius: 24.5px;
    -webkit-transition: .4s;
    transition: .4s;
    width:50%;
    border:none;
    outline:0;
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    line-height: 27px;
    color: #747474;
  }
  
  

  h5{
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    line-height: 27px;
    color: #747474;
    
  }


.moon1{
    position: absolute;
    top: 84px;
    left: -109px;
    z-index: 10;
    animation: mymove 0.4s ;   
}


@keyframes mymove {
    from {width: 0px; height:0px;}
    to {width: 152px;
        height: 155px; }
}





